@use '../../assets/style/input';
@use '../../assets/style/util';

:root {
	--kuku-text-field-border-radius: calc(#{(util.calculate-size(8))});
	--kuku-text-field-padding: calc(#{(util.calculate-size(10))})  calc(#{(util.calculate-size(16))});
}
.kuku-text-field {
	@include input.reset;



	display: block;
	width: 100%;
	padding: var(--kuku-text-field-padding);
	color: var(--text-field-color);
	font-weight: 500;
	font-size: var(--kuku-text-field-font-size, calc(#{(util.calculate-size(16))}));
	line-height: 150%;
	background: var(--kuku--text-field-background);
	border: none;
	border-radius: var(--kuku-text-field-border-radius);
	outline: none;
	transition: color 200ms ease-in-out, border 200ms ease-in-out;
	appearance: none;

	&::placeholder {
		color: var(--kuku--text-field-placeholder);
		font: inherit;
	}
}
